<header>
    <div class="header">
        <div class="row">
            <div class="siteTitle col-md-6 col-xl-6 col-md-offset-3">
                <h1>Tiffin Services</h1>
            </div>
            <div class="userEntry col-md-1 col-xl-1 col-md-offset-2">
                <button class="btn btn-default" >Sign in</button>
             </div>
        </div>
    </div>
</header>
<section>
    <router-outlet></router-outlet>
</section>

<footer>
    <div class="footer">
        @ created by Bipender Singh bipender93@gmail.com
    </div>
</footer>